.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #7ed957;
  color: var(--bg-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
  padding: 0px 16px;
}
