.bg {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-area {
  width: 400px;
  height: 400px;
  background-color: #7ed957;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 48px;
  box-sizing: border-box;
  cursor: pointer;
}

.post-area h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-start;
  margin: 0;
  margin-bottom: 16px;
  margin-left: 8px;
  word-wrap: break-word;
  max-width: 200px;
}

.post-area .code-editor {
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  padding: 20px 24px;
  box-sizing: border-box;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.code-editor .code-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-editor-header span {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
}

.code-editor hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 14px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.content > pre {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  white-space: pre-wrap;
}

.content > .tags {
  display: flex;
}

.tags .tag {
  color: #a0bdff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.dots {
  display: flex;
}

.dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  margin: 2px;
}

.green {
  background-color: #7ed957;
}

.red {
  background-color: #ff5757;
}

.yellow {
  background-color: #ffde59;
}
